[flake8]
max-line-length = 90
extend-ignore = E501,E203,W503,F811
per-file-ignores =
    settings*.py:E402,F403,F405
    */__init__.py:F401
exclude =
    .git
    __pycache__
    .venv
    venv
    env
    .env
    main.py
    allure-results
    allure-report
    evknopia/